/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/profiles.clj
/dev-db.edn
/resources/public/js/out
/resources/public/js/app.js
/figwheel_server.log
/.idea
