
body {
    padding-top: 20px;
    padding-bottom: 40px;
}

.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}

.jumbotron {
    margin: 60px 0;
    text-align: center;
    border: 0px;
}
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.jumbotron .lead {
    border: 2px solid #bbbbbb;
    margin-top: 20px;
    padding: 15px;
    font-size: 24px;
    line-height: 1.25;
}
